<fieldset class="divide-y divide-gray-200">
  <legend class="w-full text-2xl font-medium pt-1 pb-4 flex items-center gap-2">
    Environment Variables
    <%= link_to 'https://kamal-deploy.org/docs/configuration/environment-variables/', class: 'text-orange-600 hover:text-orange-90', target: '_blank' do %>
      <%= icon "arrow-top-right-on-square", class: "w-4 h-4" %>
    <% end %>
  </legend>

  <div class="space-y-4 py-6" data-controller="array-input">
    <p class="text-sm leading-relaxed text-gray-500">
      This section defines environment variables that will be available to your application at runtime. Use this to set things like RAILS_ENV, API keys, or any other configuration your app needs. These variables are injected into the running containers, so avoid putting secrets directly here—use secret managers or encrypted variables when possible.
    </p>

    <%= f.label :env_clear, "Clear", class: "text-lg font-medium text-gray-900" %>
    <p class="text-sm leading-relaxed text-gray-500">
      Removes a previously set environment variable from the container’s environment. This is useful if you want to override or clean up a value from a shared config.
    </p>

    <div data-array-input-target="container">
      <template data-array-input-target="template">
        <div class="flex items-center space-x-2 mt-2">
          <%= f.text_field :env_clear_key,
            name: "env[clear][][key]",
            placeholder: "RAILS_SERVE_STATIC_FILES",
            data: { autosubmit_target: 'dynamicInput' },
            class: "uppercase w-full px-4 py-2 border border-gray-300 text-base rounded-lg shadow-sm focus:outline-none focus:ring-1 focus:ring-orange-600 focus:border-orange-200 text-gray-700 placeholder-gray-400"
          %>
          <%= f.text_field :env_clear_value,
            name: "env[clear][][value]",
            placeholder: "true",
            data: { autosubmit_target: 'dynamicInput' },
            class: "w-full px-4 py-2 border border-gray-300 text-base rounded-lg shadow-sm focus:outline-none focus:ring-1 focus:ring-orange-600 focus:border-orange-200 text-gray-700 placeholder-gray-400"
          %>
          <button type="button" data-action="click->array-input#remove" class="text-sm font-semibold p-2 rounded-full text-black/70 cursor-pointer hover:bg-gray-200 active:bg-gray-300">
            <%= icon "x-mark", class: ["h-4", "w-4"] %>
          </button>
        </div>
      </template>
    </div>

    <div class="mt-2">
      <button type="button" data-action="click->array-input#add" class="text-sm font-semibold flex gap-1 items-center py-2 px-4 rounded-xl shadow-sm text-white cursor-pointer bg-black/80 hover:bg-black active:bg-black">
        <%= icon "plus", class: "w-4 h-4 text-white" %>
        Add variable
      </button>
    </div>
  </div>

  <div class="space-y-4 py-6" data-controller="array-input">
    <%= f.label :env_secret, "Secret", class: "text-lg font-medium text-gray-900" %>
    <p class="text-sm leading-relaxed text-gray-500">
      Marks an environment variable as sensitive. Kamal will load its value from the host machine’s environment at runtime instead of hardcoding it into the deploy file. This keeps secrets like API keys or database passwords out of version control.
    </p>

    <div data-array-input-target="container">
      <template data-array-input-target="template">
        <div class="flex items-center space-x-2 mt-2">
          <%= f.text_field :env_secret,
            name: "env[secret][]",
            placeholder: "Enter an environment variable",
            data: { autosubmit_target: 'dynamicInput' },
            class: "uppercase w-full px-4 py-2 border border-gray-300 text-base rounded-lg shadow-sm focus:outline-none focus:ring-1 focus:ring-orange-600 focus:border-orange-200 text-gray-700 placeholder-gray-400"
          %>
          <button type="button" data-action="click->array-input#remove" class="text-sm font-semibold p-2 rounded-full text-black/70 cursor-pointer hover:bg-gray-200 active:bg-gray-300">
            <%= icon "x-mark", class: ["h-4", "w-4"] %>
          </button>
        </div>
      </template>
    </div>

    <div class="mt-2">
      <button type="button" data-action="click->array-input#add" class="text-sm font-semibold flex gap-1 items-center py-2 px-4 rounded-xl shadow-sm text-white cursor-pointer bg-black/80 hover:bg-black active:bg-black">
        <%= icon "plus", class: "w-4 h-4 text-white" %>
        Add variable
      </button>
    </div>
  </div>
</fieldset>
