<div class="space-y-4 py-6">
  <div data-controller="toggler">
    <div class="flex items-center gap-2 mt-2">
      <label class="switch">
        <%= f.check_box :postgres_enabled, name: "accessories[postgres][enabled]",
          data: { action: "toggler#toggle" },
          class: "h-5 w-5 text-indigo-600 border-gray-300 rounded focus:ring-indigo-500" %>
        <span class="slider round"></span>
      </label>
      <%= f.label :postgres_enabled, "Include a PostgreSQL accessory", class: "text-sm font-semibold text-gray-700" %>
    </div>

    <div class="mt-4 space-y-3 hidden" data-toggler-target="target">
      <div>
        <%= f.label :postgres_image, "Image", class: "text-sm font-medium text-gray-900" %>
        <p class="text-sm leading-relaxed text-gray-500">
          The Docker image to use for the accessory. For PostgreSQL, this might be something like postgres:15-alpine. Make sure the image version matches what your app expects.
        </p>
        <%= f.text_field :postgres_image,
          name: "accessories[postgres][image]",
          placeholder: "postgres:16.3",
          class: "w-full px-4 py-2 border border-gray-300 text-base rounded-lg shadow-sm focus:outline-none focus:ring-1 focus:ring-orange-300 focus:border-orange-300 text-gray-700 placeholder-gray-400" %>
      </div>

      <div>
        <%= f.label :postgres_host, "Host", class: "text-sm font-medium text-gray-900" %>
        <p class="text-sm leading-relaxed text-gray-500">
          The server where this accessory container will run. It should be a machine reachable by your app containers (often the same server or within the same network). Kamal will deploy the accessory here and manage its lifecycle.
        </p>
        <%= f.text_field :postgres_host,
          name: "accessories[postgres][host]",
          placeholder: "100.100.100.100",
          class: "w-full px-4 py-2 border border-gray-300 text-base rounded-lg shadow-sm focus:outline-none focus:ring-1 focus:ring-orange-300 focus:border-orange-300 text-gray-700 placeholder-gray-400" %>
      </div>

      <div>
        <%= f.label :postgres_port, "Port", class: "text-sm font-medium text-gray-900" %>
        <p class="text-sm leading-relaxed text-gray-500">
          The port inside the container where PostgreSQL will listen (default is 5432). This is used for internal communication between your app and the database. You usually don’t need to change it unless you have a specific reason.
        </p>
        <%= f.text_field :postgres_host,
          name: "accessories[postgres][port]",
          placeholder: "5432",
          class: "w-full px-4 py-2 border border-gray-300 text-base rounded-lg shadow-sm focus:outline-none focus:ring-1 focus:ring-orange-300 focus:border-orange-300 text-gray-700 placeholder-gray-400" %>
      </div>
    </div>
  </div>
</div>
