<fieldset class="divide-y divide-gray-200">
  <legend class="w-full text-2xl font-medium pt-1 pb-4 flex items-center gap-2">
    Registry
    <%= link_to '#', class: 'text-orange-600 hover:text-orange-90' do %>
      <%= icon "external-link", library: 'feather', class: "w-4 h-4" %>
    <% end %>
  </legend>

  <div class="space-y-4 py-6">
    <%= f.label :registry_server, "Server", class: "text-sm font-medium text-gray-900" %>
    <%= f.text_field :registry_server,
      name: "registry[server]",
      autocomplete: "off",
      placeholder: "registry.mydomain.com",
      class: "w-full px-4 py-2 border border-gray-300 text-base rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500 text-gray-700 placeholder-gray-400" %>
  </div>

  <div class="space-y-4 py-6">
    <div>
      <%= f.label :registry_username, "Username", class: "text-sm font-medium text-gray-900" %>
      <%= f.text_field :registry_username,
        name: "registry[username]",
        autocomplete: "off",
        placeholder: "Enter registry username",
        class: "w-full px-4 py-2 border border-gray-300 text-base rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500 text-gray-700 placeholder-gray-400" %>
    </div>

    <div>
      <%= f.label :registry_password, "Password env var name", class: "text-sm font-medium text-gray-900" %>
      <%= f.text_field :registry_password,
        name: "registry[password]",
        placeholder: "Enter registry password env var name",
        autocomplete: "off",
        class: "w-full px-4 py-2 border border-gray-300 text-base rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500 text-gray-700 placeholder-gray-400" %>
    </div>
  </div>
</fieldset>
