<div class="grid grid-cols-2 gap-6">
  <%= form_with url: yaml_preview_path, method: :get, data: { controller: "autosubmit", action: "input->autosubmit#submit", turbo_frame: "yaml_preview" } do |f| %>
    <div class="border-b border-gray-900/10 p-6">
      <div class="mb-4">
        <%= f.label :name, "Service name:", class: "block mb-1 text-sm" %>
        <%= f.text_field :name, class: "w-full p-2 border rounded" %>
      </div>

      <div class="mb-4">
        <%= f.label :docker_image, "Docker image:", class: "block mb-1 text-sm" %>
        <%= f.text_field :docker_image, class: "w-full p-2 border rounded" %>
      </div>

      <div class="mb-4">
        <%= f.label :server, "Server IP address:", class: "block mb-1 text-sm" %>
        <%= f.text_field :server, class: "w-full p-2 border rounded" %>
      </div>

      <div class="mb-4">
        <%= f.label :arch, "Architecture:", class: "block mb-1 text-sm" %>
        <%= f.select :arch, ["amd64", "arm64"], {}, class: "w-full p-2 border rounded" %>
      </div>
    </div>
  <% end %>

  <%= turbo_frame_tag "yaml_preview", src: yaml_preview_path, loading: :lazy %>
</div>